<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azis.orderojekonline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGrab1"
            android:label="@string/title_activity_detail_grab1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGrab2"
            android:label="@string/title_activity_detail_grab2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGrab3"
            android:label="@string/title_activity_detail_grab3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGrab4"
            android:label="@string/title_activity_detail_grab4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGojek"
            android:label="@string/title_activity_detail_gojek"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGojek2"
            android:label="@string/title_activity_detail_gojek2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGojek3"
            android:label="@string/title_activity_detail_gojek3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailGojek4"
            android:label="@string/title_activity_detail_gojek4"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>